body {
    font-family: 'Poppins', sans-serif;
    max-width: 1126px;
    margin: auto
}

.section {
  display: flex;
  justify-content: center;
}

.section__text {
    display: flex; 
    flex-wrap: wrap;
}

.section__btn {
    background-color: #FF9900;
    padding: 5px 10px;
}