/*styling för hela sidan*/
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1126px;
    margin: auto;
}

/*styling för alla sektioner*/
.section {
    display: flex;
    margin: 30px 0;
}

/*styling för innehåll i sektioner*/
.section__content {
    display: flex; 
    flex-wrap: wrap;
}

.section__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.section__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

/*styling för alla knappar*/
.section__btn {
    color: white;
    font-weight: 600;
    background-color: #FF9900;
    padding: 10px 22px;
}

/*styling för header*/
.section__header {
    justify-content: space-between;
    max-height: 78px;
    align-items: center;
}

ul {
    list-style-type: none;
}

.section__nav--meny {
    display: inline;
    margin: 12px;
    position: relative;
    left: 125px;
    font-size: 14px;
}

.section__btn--header1 {
    color: #173A56;
    background-color: white;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 14px 24px;
    position: relative;
    right: 10px;
}

.section__btn--header2 {
    border: none;
    border-radius: 4px;
    padding: 14px 24px
}

/*styling för section 1*/
.section__content--one {
    width: 518px
}

.section__heading1 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    position: relative;
    top: 60px
}

.section__text--one {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    width: 458px;
}

.section__btn--main1 {
    height: 53px;
    width: 175px;
    opacity: 0.75;
    border: none;
    border-radius: 4%;
}

.section__btn--main2 {
    color: #FF9900;
    background-color: #FFFFFF;
    border: none;
    position: relative;
    left: 10px;
}

.section__btn--image {
    position: relative;
    top: 5px;
    right: 5px;
}

.section__image--one {
    display: flex;
    max-height: 605px;
    max-width: 496px;
}

/*styling för section 2*/

.section--two {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 543px;
    margin-bottom: 150px;
}

.section__boxes {
    display: flex;
}

.section__heading2 {
    display:flex;
    align-items: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    max-width: 540px;
}

.section__box {
    max-width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ikon {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 19px;
    color: #FFFFFF;
    box-shadow: 0px 5px 20px black;
}

i {
    margin: auto;
}

.ikon1 {
    background-color: #7752BE
}

.ikon2 {
    background-color: #FAB005;
}

.ikon3 {
    background-color: #F03E3D;
}

.ikon4 {
    background-color: #4DADF7;
}

.section__box--heading {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}

.section__box--text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.section__box--content4 {
    position: relative;
    top: 12px;
}

.section__btn--sign-up-now {
    height: 53px;
    width: 175px;
    border: none;
    border-radius: 4%;
}


/*styling sektion 3*/
.section--three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 574px;
    max-width: 1110px;
    margin-bottom: 100px;
}

.section__content--three {
    width: 486px;
    max-height: 531px;
    align-content: flex-start;
}

.section__text--bold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin: 0 0 -10px 0 
}

.section__heading3 {
    margin: -5px 0 10px 0
}

/*sektion 4*/
.section--four {
    display: flex;
    justify-content: space-between;
    max-height: 574px;
    max-width: 1110px;
    margin-bottom: 100px
}

.section__content--four {
    width: 486px;
    max-height: 531px;
    align-content: flex-start;
}

/*sektion 5*/
.section--five {
    display: flex;
    justify-content: space-between;
    max-height: 574px;
    max-width: 1110px;
    margin-bottom: 100px;
}

.section__content--five {
    width: 486px;
    max-height: 531px;
    align-content: flex-start;
    flex-direction: column;
}

.section__list {
    display: flex;
    flex-flow: column;
    list-style-image: url("../images/icon_list.png");
}

/*footer*/
.section__footer {
    justify-content: space-between;
    height: 308px;
    align-items: flex-end;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.section__btn--footer1 {
    max-height: 40px;
    max-width: 140px;
    border: none;
    border-radius: 4%;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    }

    .section__logo--footer {
        align-self: center;
        position: relative;
        bottom: 50px;
    }

   input {
        width: 325px;
        height: 48px;
        background-color: #FFFFFF;
        border: 1px solid #BCD0E5;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 20px;
   }